// applies when show_bar_on_mobile is checked
.above-site-header-outlet .b-header {
  font-size: var(--font-down-1);

  .title {
    margin-right: 0.75em;
  }
}

// applies when show_bar_on_mobile is unchecked
.d-header .brand-header-toggle {
  list-style: none;
  margin: 0 0.65em 0 0;
  button {
    padding: 0.5em;
  }
  .rtl & {
    margin: 0 0 0 0.65em;
  }
}

.home-logo-wrapper-outlet {
  display: flex;
  .brand-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.brand-header-contents {
  padding: 0.5em;
  width: 320px;
  ul {
    list-style: none;
    margin: 0;
  }

  .nav {
    border-top: 1px solid var(--primary-low);
    border-bottom: 1px solid var(--primary-low);
    padding: 3px 0;
    display: grid;
    grid-template-columns: 50% 50%;

    a {
      box-sizing: border-box;
      display: inline-flex;
      padding: 0.25em 0.6em;
      width: 100%;
    }
  }

  .title {
    padding: 0.5em 0.5em 0.75em 0.5em;
  }

  .panel {
    margin-top: 1em;
  }

  .icons {
    display: flex;
    height: 26px;
    a {
      padding: 0.33em 0.6em;
      .d-icon {
        color: var(--primary-medium);
      }
    }
  }
}
